--index-url https://download.pytorch.org/whl/cu118
torch==2.3.0+cu118
torchvision==0.18.0+cu118
torchaudio==2.3.0+cu118
transformers==4.44.2
datasets
accelerate>=0.33
peft==0.13.2
bitsandbytes>=0.43.0      
scikit-learn
matplotlib
lime
tqdm
captum==0.8.0
shap
